@using FilmDemo.Models
@model List<FilmDemo.Models.FilmInfo>

@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <title>水墨电影 - 一网打尽好电影</title>

    <link rel="dns-prefetch" href="//p0.meituan.net" />
    <link rel="dns-prefetch" href="//p1.meituan.net" />
    <link rel="dns-prefetch" href="//ms0.meituan.net" />
    <link rel="dns-prefetch" href="//s0.meituan.net" />
    <link rel="dns-prefetch" href="//ms1.meituan.net" />
    <link rel="dns-prefetch" href="//analytics.meituan.com" />
    <link rel="dns-prefetch" href="//report.meituan.com" />
    <link rel="dns-prefetch" href="//frep.meituan.com" />


    <meta charset="utf-8">
    <meta name="keywords" content="电影,电视剧,票房,美剧,水墨电影,电影排行榜,电影票,经典电影,在线观看">
    <meta name="description" content="国内观众优选的在线购票平台，用户流行的观影决策平台。">
    <meta http-equiv="cleartype" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @*<script>"use strict"; !function () { var i = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : "_Owl_", n = window; n[i] || (n[i] = { isRunning: !1, isReady: !1, preTasks: [], dataSet: [], use: function (i, t) { this.isReady && n.Owl && n.Owl[i](t), this.preTasks.push({ api: i, data: [t] }) }, add: function (i) { this.dataSet.push(i) }, run: function () { var t = this; if (!this.isRunning) { this.isRunning = !0; var i = n.onerror; n.onerror = function () { this.isReady || this.add({ type: "jsError", data: arguments }), i && i.apply(n, arguments) }.bind(this), (n.addEventListener || n.attachEvent)("error", function (i) { t.isReady || t.add({ type: "resError", data: [i] }) }, !0) } } }, n[i].run()) }();</script>*@
    <script>
        cid = "c_6jadt9m";
        ci = 10;
        window.system = {};

        window.openPlatform = '';
        window.openPlatformSub = '';
        window.$mtsiFlag = '0';
        //88
        //77

        //88
    </script>
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.d0f96cc2.css" />
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/home-index.521afa7b.css" />
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/stat.88d57c80.js"></script>
    <script>if (window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>') }</script>
    <link href="~/layui-v2.5.4/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.5.4/layui/layui.all.js"></script>
    <script src="~/layui-v2.5.4/layui/layui.js"></script>
    <meta name="msvalidate.01" content="F338006073F396CBBDA443AAB6A8BA47" />
    <meta name="360-site-verification" content="6f1d12912a62a74ce2f1b3c2e75f6c23" />
    <meta name="sogou_site_verification" content="uh9MkgvBm3" />
</head>
<body>


    <div class="header">
        <div class="header-inner">
           
            <div class="city-container" currentcityid:10 }">
                <div class="city-selected">
                    <div class="city-name">
                    </div>
                </div>
                <div class="city-list" localcityid: 10 }">
                </div>
            </div>


            <div class="nav">
                <ul class="navbar">
                    
                    <li><img src="~/Content/Img/e1468264f3428ac45b1c24cab246d219.png" /></li>
                    <li><a href="/Film/FistPage">首页</a></li>
                    <li><a href="/Film/FilmPage">电影</a></li>
                    <li><a href="/Film/CinemaPage">影院</a></li>
                    <li><a href="/Film/ListPage">榜单</a></li>
                </ul>
            </div>
            <div class="user-info">
                <div class="user-avatar J-login">

                    <img src="https://p0.meituan.net/movie/7dd82a16316ab32c8359debdb04396ef2897.png">
                    <span class="caret"></span>
                    <ul class="user-menu" id="IsLogin">
                        <li><a onclick="Logins()">登录</a></li>
                    </ul>
                </div>
            </div>

            <form action="/query" target="_blank" class="search-form" data-actform="search-click">
                <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
                <input class="submit" type="submit" value="">
            </form>



        </div>
    </div>
    <div class="header-placeholder"></div>


    <div class="container" id="app" class="page-home/index">
        <div class="content">
            <div class="aside">
                <div class="ranking-box-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-title">
                                <span class="textcolor_red">今日票房</span>
                            </span>
                        </div>
                        <div class="panel-content" id="FilmOrderByOffice">
                            @foreach (var item in Model.OrderByDescending(m => m.Grade).ToList<FilmInfo>().Take(10))
                            {
                                if (Model.OrderByDescending(m => m.Grade).ToList<FilmInfo>().IndexOf(item) == 0)
                                {
                                    <ul class="ranking-wrapper ranking-box">
                                        <li class="ranking-item ranking-top ranking-index-1">
                                            <a href="/Film/FilmInfo" target="_blank" data-act="ticketList-movie-click">
                                                <div class="ranking-top-left">
                                                    <i class="ranking-top-icon"></i>
                                                    <img class="ranking-img  default-img" src="@item.FilmPhotos" style="height:120px;width:120px" />
                                                </div>
                                                <div class="ranking-top-right">
                                                    <div class="ranking-top-right-main">
                                                        <span class="ranking-top-moive-name">@item.FilmCName</span>
                                                        <p class="ranking-top-wish">
                                                            <span class="stonefont">@item.Grade</span>万
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="ranking-wrapper ranking-box">
                                        <li class="ranking-item ranking-index-2">
                                            <a href="/films/1242431" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:1242431}">
                                                <span class="normal-link">
                                                    <i class="ranking-index">2</i>
                                                    <span class="ranking-movie-name">@item.FilmCName</span>

                                                    <span class="ranking-num-info">
                                                        <span class="stonefont">@item.Grade</span>万
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:140px"></div>
                <div class="most-expect-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="/board/6" class="textcolor_orange" data-act="all-mostExpect-click">
                                    <span>查看完整榜单</span>
                                </a>
                                <span class="panel-arrow panel-arrow-orange"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_orange">最受期待</span>
                            </span>
                        </div>
                        <div class="panel-content" id="FilmOrderByOffice">
                            <ul class="ranking-wrapper ranking-box">
                                @foreach (var item in Model.OrderByDescending(m => m.WantSee).ToList<FilmInfo>().Take(10))
                                {
                                    if (Model.OrderByDescending(m => m.WantSee).ToList<FilmInfo>().IndexOf(item) == 0)
                                    {
                                        <li class="ranking-item ranking-top ranking-index-1">
                                            <a href="/films/1218029" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:1218029}">
                                                <div class="ranking-top-left" style="height:180px">
                                                    <i class="ranking-top-icon"></i>
                                                    <img class="ranking-img  default-img" src="@item.FilmPhotos" style="width:100px;height:150px" />
                                                </div>
                                                <div class="ranking-top-right">
                                                    <div class="ranking-top-right-main">
                                                        <span class="ranking-top-moive-name">@item.FilmCName</span>

                                                        <p class="ranking-release-time">上映时间：@item.FilmReleaseTime</p>

                                                        <p class="ranking-top-wish">
                                                            <span class="stonefont">@item.WantSee</span>人想看
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="ranking-item ranking-index-4" style="line-height:50px">
                                            <a href="/films/1218141" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:1218141}">
                                                <span class="normal-link">
                                                    <i class="ranking-index">4</i>
                                                    <span class="ranking-movie-name">@item.FilmCName</span>

                                                    <span class="ranking-num-info">
                                                        <span class="stonefont">@item.WantSee</span>人想看
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="height:155px"></div>
                <div class="top100-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="/board/4" class="textcolor_orange" data-act="all-TOP100-click">
                                    <span>查看完整榜单</span>
                                </a>
                                <span class="panel-arrow panel-arrow-orange"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_orange">TOP 100</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <ul id="Grade" class="ranking-wrapper ranking-top100">
                                @foreach (var item in Model.OrderByDescending(m => m.Grade).ToList<FilmInfo>().Take(10))
                                {
                                    if (Model.OrderByDescending(m => m.Grade).ToList<FilmInfo>().IndexOf(item) == 0)
                                    {
                                        <li class="ranking-item ranking-top ranking-index-1">
                                            <a href="/films/1203" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:1203}">
                                                <div class="ranking-top-left">
                                                    <i class="ranking-top-icon"></i>
                                                    <img class="ranking-img  default-img" src="@item.FilmPhotos" style="height:120px;width:120px" />
                                                </div>
                                                <div class="ranking-top-right">
                                                    <div class="ranking-top-right-main">
                                                        <span class="ranking-top-moive-name">@item.FilmCName</span>


                                                        <p class="ranking-top-wish">
                                                            <span class="stonefont">@item.Grade</span>分
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="ranking-item ranking-index-6">
                                            <a href="/films/837" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:837}">
                                                <span class="normal-link">
                                                    <i class="ranking-index">6</i>
                                                    <span class="ranking-movie-name">@item.FilmCName</span>
                                                    <span class="ranking-num-info">
                                                        <span class="stonefont">@item.Grade</span>分
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                    }

                                }

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="main">
                <div class="movie-grid">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="/films?showType=1" class="textcolor_red" data-act="all-playingMovie-click">
                                    <span>全部</span>
                                </a>
                                <span class="panel-arrow panel-arrow-red"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_red">正在热映（65部）</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">

                                @foreach (var item in Model.Take(8))
                                {
                                    <dd>
                                        <div class="movie-item">
                                            <a href="/Film/FilmInfo344328" target="_blank" data-act="playingMovie-click" movieid:344328}">
                                                <div class="movie-poster">
                                                    <img class="poster-default" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" />
                                                    <img src="@item.FilmPhotos" />
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-score">@item.Grade</div>
                                                            <div class="movie-title movie-title-padding"
                                                                 title="@item.FilmCName">@item.FilmCName</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="movie-detail movie-detail-strong movie-sale">
                                                    <a href="/cinemas?movieId=344328"
                                                       class="active" target="_blank" data-act="salePlayingMovie-click" movieid:344328}">购 票</a>
                                                </div>
                                                <div class="movie-ver"><i class="imax3d"></i></div>
                                            </div>
                                        </dd>
                                    }

                            </dl>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="/films?showType=2" class="textcolor_blue" data-act="all-upcomingMovie-click">
                                    <span>全部</span>
                                </a>
                                <span class="panel-arrow panel-arrow-blue"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_blue">即将上映（144部）</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <dl id="WillSee" class="movie-list" style="font-family:verdana;font-size:9pt">
                                @foreach (var item in Model.Take(8))
                                {
                                <dd>
                                    <div class="movie-item">
                                        <a href="/Film/FilmInfo1204589" target="_blank" data-act="upcomingMovie-click" movieid:1204589}">
                                            <div class="movie-poster">
                                                <img class="poster-default" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" />
                                                <img src="@item.FilmPhotos" />
                                                <div class="movie-overlay movie-overlay-bg">
                                                    <div class="movie-info">
                                                        <div class="movie-title"
                                                             title="绝杀慕尼黑">@item.FilmCName</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="movie-detail movie-wish"><span class="stonefont">@item.WantSee</span>人想看</div>
                                        <div class="movie-detail movie-detail-strong movie-presale">
                                            <a class="movie-presale-sep">
                                                预告片
                                            </a><a href="/cinemas?movieId=1204589"
                                                   class="active" target="_blank" data-act="presaleUpcomingMovie-click" movieid:1204589}">预 售</a>
                                        </div>
                                        <div class="movie-ver"></div>
                                    </div>
                                    <div class="movie-detail movie-rt">6月13日上映</div>
                                </dd>
                                 }
                                </dl>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="/films?isPlay=1" class="textcolor_red" data-act="all-hotMovie-click">
                                    <span>全部</span>
                                </a>
                                <span class="panel-arrow panel-arrow-red"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_red">热播电影</span>
                            </span>
                            <span class="panel-subtitle">
                                <a href="/films?isPlay=1&catId=3" data-act="tag-hotMovie-click" TagName:'爱情'}">爱情</a>
                            </span>      <span class="panel-subtitle">
                                <a href="/films?isPlay=1&catId=2" data-act="tag-hotMovie-click" TagName:'喜剧'}">喜剧</a>
                            </span>      <span class="panel-subtitle">
                                <a href="/films?isPlay=1&catId=5" data-act="tag-hotMovie-click" TagName:'动作'}">动作</a>
                            </span>      <span class="panel-subtitle">
                                <a href="/films?isPlay=1&catId=6" data-act="tag-hotMovie-click" TagName:'恐怖'}">恐怖</a>
                            </span>      <span class="panel-subtitle">
                                <a href="/films?isPlay=1&catId=4" data-act="tag-hotMovie-click" TagName:'动画'}">动画</a>
                            </span>
                        </div>
                        <div id="HotSee" class="panel-content">
                            <dl class="movie-list" style="font-family:verdana;font-size:9pt">
                                @foreach (var item in Model.Take(8))
                                {
                                <dd>
                                    <div class="movie-item">
                                        <a href="/films/78082" target="_blank" data-act="hotMovie-click" data-val="{movieid:78082}">
                                            <div class="movie-poster">
                                                <img class="poster-default" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" />
                                                <img src="@item.FilmPhotos" />
                                                <div class="movie-overlay movie-overlay-bg">
                                                    <div class="movie-info">
                                                        <div class="movie-score"><i class="integer">@item.Grade.ToString()</i></div>
                                                        <div class="movie-title movie-title-padding"
                                                             title="毒战">@item.FilmCName</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="movie-ver"></div>
                                    </div>
                                </dd>

                                }
                                </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p class="friendly-links">
            关于水墨 :
            <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            友情链接 :
            <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
            <span></span>
            <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
            <span></span>
            <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
            <span></span>
            <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
        </p>
        <p class="friendly-links">
            商务合作邮箱：v@maoyan.com
            客服电话：10105335
            违法和不良信息举报电话：4006018900
            <br />
            投诉举报邮箱：tousujubao@meituan.com
            舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p>
            &copy;2016
            水墨电影 maoyan.com
            <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&keyword=京ICP证160733号&pageNo=1" target="_blank">京ICP证160733号</a>
            <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备 11010102003232号</a>
            <a href="/about/licence" target="_blank">网络文化经营许可证</a>
            <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
        </p>
        <p> 上海水墨文化传媒有限公司</p>
        </div>

        <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
        <script>
            Owl.start({
                project: 'com.sankuai.movie.fe.mywww',
                pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
                devMode: false
            })
            function Logins() {
                layer.open({
                    type: 2,
                    title: '登  陆',
                    fix: false,
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['600px', '700px'],
                    content: '/Film/Login',
                    end: function () {
                        location.reload();
                    }
                });

            }
            
        </script>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script>
            window.onload = function () {
                GetCookie();
            }
            function GetCookie() {
                $.ajax({
                    url: "/Film/GetCookie",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            $("#IsLogin").empty();
                            var str = "<li class='text'><a style='cursor: pointer'> 我的订单</a></li ><li class='text'><a onclick='GetAllInfo()' style='cursor: pointer'>基本信息</a></li ><li class='text'><a onclick='GoOut()' style='cursor: pointer'>退出登录</a></li > ";
                            $("#IsLogin").append(str);
                        }
                    }

                })
            }
            function GetAllInfo() {
                $.ajax({
                    url: "/Film/GetPhoneNum",
                    success: function (data) {
                        location.href = "/Film/GetAllUserInfo?PhoneNum=" + data;
                    }
                })
            }
            function GoOut() {
                $.ajax({
                    url: "/Film/ClearCookie",
                    success: function (data) {
                        if (data==1) {
                            $("#IsLogin").empty();
                            var str = "<li class='text'><a style='cursor: pointer'>登录</a></li >";
                            $("#IsLogin").append(str);
                        }
                    }
                })
            }
        </script>
        @*<script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/home-index.ceb18b5a.js"></script>*@
</body>
</html>

